<div>
    <h3 class="locationDisplay">Your location: {{ cityName }}</h3>
    <a class="dottedBorder" mat-button routerLink="/citySearch">
        <mat-icon svgIcon="ChangeLocation"/>
        Change city
    </a>
</div>