.pageGrid {
	display:               grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr;
	height:                99%;
	width:                 99%;
}

main {
	margin-left: 2em;
}

aside {
	background-color: #eee;
	border-radius:    10px 0 5px 5px;
	height:           100%;
}