<header class="topBar">
    <div class="header-grid">
        <button (click)="goPageBack()" color="warm" mat-button>
            <mat-icon svgIcon="Back"/>
        </button>
        <div>
            <h3>{{ pagetitle }}</h3>
        </div>
    </div>
</header>
