.header-grid {
	display:               grid;
	grid-template-columns: 40px auto;
	grid-template-rows: 1fr;
	height:                10%;
	width:                 100%;
}

.topBar {
	background-color: #ccc;
	min-height:       40px;
	border-radius:    5px;
	text-align: center;

	button {
		height: 100%;
	}

}