<top-bar-no-search [pagetitle]="city?.name ?? 'unknown'"/>
<main>
    <form (click)="saveChanges($event.currentTarget)">
        <div *ngFor="let display of cityFields">
            <div class="dottedBorder wrapper">
                <label [for]="display.id">{{ display.label }}</label>
                <input [id]="display.id" [name]="display.id" [type]="display.type" matInput>
            </div>
        </div>
        <input type="submit" value="Save">
    </form>
</main>