<top-bar [lookupFunc]="lookupProduct" [menuEntries]="menuEntries"/>
<div class="pageGrid">
    <aside>
        <div *ngIf="categories !== null && stores !== null">
            <filter-bar [options]="categories!" [updateListFunc]="filterProducts" optionsName="Categories"/>
            <filter-bar [options]="stores!" [updateListFunc]="filterProducts" optionsName="Supermarkets"/>
        </div>
        <list-help-text itemType="products"/>
    </aside>
    <main>
        <city-display [city]="city === null ? 'unknown' : city.name"/>
        <table *ngFor="let stock of productStocks" [dataSource]="productStocks!" mat-table>
            <text-table-cell [value]="stock.product" columnName="Articles" urlPrefix="product" varName="name"/>
            <text-table-cell [value]="stock.product.category" columnName="Category" urlPrefix="category"
                             varName="category"/>
            <text-table-cell [value]="stock.store" columnName="Supermarkets" urlPrefix="store" varName="stores"/>
            <button-table-cell [item]="stock.product" urlPrefix="stock"/>

            <tr *matHeaderRowDef="columns" mat-header-row></tr>
            <tr *matRowDef="let _; columns: columns;" mat-row></tr>
        </table>
    </main>
</div>