<main>
    <div class="wrapper">
        <h1>
            Productfinder
        </h1>
        <h4>
            City search
        </h4>
        <p>
            Welcome on the Productfinder. Please enter your location to start searching for products.
        </p>
        <form (submit)="passNameToProductsPage($event)">
            <input class="locationInput" id="locationInput" matInput
                   placeholder="Press here to enter the complete name of your location"
                   type="text"/> <br>
            <input class="submitBtn" mat-basic-chip type="submit" value="Submit location name"/>
        </form>
        <login-button/>
    </div>
</main>