<top-bar [lookupFunc]="lookupCategory" [menuEntries]="menuEntries"/>
<div class="pageGrid">
    <aside>
        <list-help-text itemType="categories"/>
    </aside>
    <main>
        <table *ngFor="let category of categories" [dataSource]="categories!" mat-table>
            <text-table-cell [value]="category" columnName="Categories" urlPrefix="category" varName="name"/>
            <boolean-table-cell [value]="category.vegan" columnName="Is vegan" varName="vegan"/>
            <button-table-cell [item]="category" urlPrefix="category"/>

            <tr *matHeaderRowDef="columns" mat-header-row></tr>
            <tr *matRowDef="let _; columns: columns;" mat-row></tr>
        </table>
    </main>
</div>