<top-bar-no-search [pagetitle]="stock?.name ?? 'unknown'"/>

<form (submit)="deleteItem()">
    <label for="delete">Do you really want to delete {{ stock?.name ?? 'unknown' }}?</label>
    <input id="delete" type="submit" value="Yes, I want">
</form>