<ng-container matColumnDef>
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef class="buttonColumn" mat-cell>
        <a *isInRoles="[UserRoles.Read]" [queryParams]="{name: item.name}" [routerLink]="'/' + urlPrefix + '/details'">
            <mat-icon class="detailsIcon" svgIcon="Details"/>
        </a>
        <a *isInRoles="[UserRoles.Write]" [queryParams]="{name: item.name}" [routerLink]="'/' + urlPrefix + '/edit'">
            <mat-icon svgIcon="Edit"/>
        </a>
        <a *isInRoles="[UserRoles.Write]" [queryParams]="{name: item.name}" [routerLink]="'/' + urlPrefix + '/delete'">
            <mat-icon svgIcon="Bin"/>
        </a>
    </td>
</ng-container>