<ng-container matColumnDef>
    <th *matHeaderCellDef mat-header-cell> {{ columnName }}</th>
    <td *matCellDef mat-cell>
        <a [queryParams]="{name: value.name}" [routerLink]="'/' + urlPrefix + '/details'" class="chipLink" mat-chip>
            {{ value.name ?? 'empty' }}
        </a>
    </td>
</ng-container>
