<div class="filterDropdown">
    <mat-label>{{ optionsName }}</mat-label>
    <mat-select (selectionChange)="notifyListUpdater()" [(value)]="selectedFilters" [compareWith]="compareOptions" class="dottedBorder"
                multiple placeholder="All">
        <mat-option *ngFor="let option of options" [value]="option">
            {{ option.name }}
        </mat-option>
    </mat-select>
</div>
