<top-bar [lookupFunc]="lookupCity" [menuEntries]="menuEntries"/>
<div class="pageGrid">
    <aside>
        <list-help-text itemType="cities"/>
    </aside>
    <main>
        <table *ngFor="let city of cities" [dataSource]="cities!" mat-table>
            <text-table-cell [value]="city" columnName="City" urlPrefix="city" varName="name"/>
            <button-table-cell [item]="city" urlPrefix="city"/>
            <ng-container matColumnDef="alternate-names">
                <th *matHeaderCellDef mat-header-cell>Alternative names</th>
                <td *matCellDef="let city" mat-cell>
                    <mat-chip-set>
                        <mat-chip *ngFor="let altName of city.alternateNameArray"> {{ altName }}</mat-chip>
                    </mat-chip-set>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="columns" mat-header-row></tr>
            <tr *matRowDef="let _; columns: columns;" mat-row></tr>
        </table>
    </main>
</div>