<div *ngIf="isAuthenticated()">
  <mat-chip>{{username}}</mat-chip>
    <button (click)="logout()" color="warn" mat-button>
      <mat-icon svgIcon="Logout"/>
    Logout
  </button>
</div>

<div *ngIf="!isAuthenticated()">
    <button (click)="login()" color="warn" mat-button>
      <mat-icon svgIcon="Login"/>
    Login
  </button>
</div>
