<ng-container matColumnDef>
    <th *matHeaderCellDef mat-header-cell>{{ columnName }}</th>
    <td *matCellDef mat-cell>
        <mat-icon *ngIf="value" style="color: green" svgIcon="Check"/>
        <mat-icon *ngIf="!value" style="color: red" svgIcon="Cancel"/>
    </td>
</ng-container>
