<top-bar-no-search [pagetitle]="category?.name ?? 'unknown'"/>
<main>
    <form (submit)="saveChanges($event.currentTarget)">
        <div *ngFor="let display of categoryFields">
            <div class="dottedBorder wrapper">
                <label [for]="display.id">{{ display.label }}</label>
                <input [id]="display.id" [name]="display.id" matInput type="text">
            </div>
        </div>
        <input type="submit" value="Save">
    </form>
</main>
