<top-bar-no-search [pagetitle]="'Stock for ' + store?.name ?? 'unknown'"/>
<main>
    <div *ngFor="let display of storeFields">
        <div class="dottedBorder wrapper">
            <label [for]="display.id">{{ display.label }}</label>
            <p [id]="display.id">{{ display.value }}</p>
        </div>
    </div>
</main>