<top-bar [lookupFunc]="lookupStore" [menuEntries]="menuEntries"/>
<div class="pageGrid">
    <aside>
        <filter-bar [options]="cities!" [updateListFunc]="filterStores" optionsName="Cities"/>
        <list-help-text itemType="stores"/>
    </aside>
    <main>
        <city-display [city]="curCity!.name"/>
        <table *ngFor="let store of stores" [dataSource]="stores!" mat-table>
            <text-table-cell [value]="store" columnName="Stores" urlPrefix="store" varName="name"/>
            <ng-container matColumnDef="address">
                <th *matHeaderCellDef mat-header-cell>Address</th>
                <td *matCellDef mat-cell>
                    <mat-chip> {{ store.address }}</mat-chip>
                </td>
            </ng-container>
            <text-table-cell [value]="store.city" columnName="Cities" urlPrefix="city" varName="city"/>
            <button-table-cell [item]="store" urlPrefix="store"/>

            <tr *matHeaderRowDef="columns" mat-header-row></tr>
            <tr *matRowDef="let _; columns: columns;" mat-row></tr>
        </table>
    </main>
</div>