<top-bar [lookupFunc]="lookupProduct" [menuEntries]="menuEntries"/>
<div class="pageGrid">
    <aside>
        <filter-bar [options]="categories!" [updateListFunc]="filterProducts" optionsName="Categories"/>
        <list-help-text itemType="products"/>
    </aside>
    <main>
        <table *ngFor="let product of products" [dataSource]="products!" mat-table>
            <text-table-cell [value]="product" columnName="Products" urlPrefix="product" varName="name"/>
            <boolean-table-cell [value]="product.organic" columnName="Is organic" varName="organic"/>
            <ng-container matColumnDef="nutri-score">
                <th *matHeaderCellDef mat-header-cell>Nutri score</th>
                <td *matCellDef mat-cell>
                    <mat-chip> {{ product.nutriScore }}</mat-chip>
                </td>
            </ng-container>
            <text-table-cell [value]="product.category" columnName="Categories" urlPrefix="category"
                             varName="category"/>
            <button-table-cell [item]="product" urlPrefix="products"/>

            <tr *matHeaderRowDef="columns" mat-header-row></tr>
            <tr *matRowDef="let _; columns: columns;" mat-row></tr>
        </table>
    </main>
</div>