<header class="topBar">
    <div class="header-grid">
        <button (click)="goPageBack()" color="warm" mat-button>
            <mat-icon svgIcon="Back"/>
        </button>
        <div>
            <input class="searchField" id="searchField" matInput placeholder="Press here to search"
                   list="resultList" type="text">
            <datalist id="resultList">
                <!-- Here the results from the api query will be inserted -->
            </datalist>
        </div>
        <div class="rightSideGrid">
            <login-button/>
            <div *ngIf="menuEntries.length > 0">
                <button [matMenuTriggerFor]="menu" mat-icon-button>
                    <mat-icon svgIcon="Menu"/>
                </button>
            </div>
        </div>
    </div>
</header>
<footer>
    <mat-menu #menu="matMenu">
        <a *ngFor="let entryTuple of menuEntries" [routerLink]="[entryTuple[1]]"
           mat-menu-item>
            <mat-icon svgIcon="{{ entryTuple[2] }}"/>
            <span>{{ entryTuple[0] }}</span>
        </a>
    </mat-menu>
</footer>