.header-grid {
	display: grid;
	grid-template-columns: 1fr 74% auto;
	grid-template-rows: 1fr;
	height: 10%;
	width: 100%;
}

.searchField {
	width: 95%;
	margin-top: 1%;
}

.rightSideGrid {
	display: inline-grid;
	grid-template-columns: auto 40px;
	grid-template-rows: 1fr;
}

.topBar {
	background-color: #ccc;
	min-height: 40px;
	border-radius: 5px;

	button {
		height: 100%;
	}

	input {
		height: 50%;
	}

}