<div>
    <p>
        <strong>Help</strong> <br>
        Click on the items in the table to visit the details page for the clicked item. <br>
        Filter {{ itemType }} by either searching for an exact name or by filtering by either category or store name.
        <br>
        Create an account to see details and to add more {{ itemType }}.
    </p>
</div>