<top-bar-no-search [pagetitle]="product?.name ?? 'unknown'"/>
<main>
    <div *ngFor="let display of productFields">
        <div class="dottedBorder wrapper">
            <label [for]="display.id">{{ display.label }}</label>
            <p [id]="display.id">{{ display.value }}</p>
        </div>
    </div>
</main>